*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

/* Navbar */
nav{
  position:fixed;
  width:100%;
  top:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:#020617;
}

nav ul{
  list-style:none;
  display:flex;
}

nav ul li{
  margin-left:25px;
}

nav ul li a{
  color:white;
  text-decoration:none;
}

nav ul li a:hover{
  color:#38bdf8;
}

/* Home */
.home{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.home span{
  color:#38bdf8;
}

/* Sections */
section{
  padding:120px 50px;
  text-align:center;
}

/* Projects */
.project-card{
  background:#020617;
  margin:20px auto;
  padding:25px;
  border-radius:10px;
  width:300px;
}

/* Contact */
.contact{
  background:#020617;
}
x`